PORT=4000
REPLICATE_API_KEY=r8_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
REPLICATE_MODEL_IMAGE=black-forest-labs/flux-schnell
FRONTEND_URL=http://localhost:3000
DATABASE_URL="file:./dev.db"

GEMINI_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
