# Copia este archivo como .env y completa los valores

PORT=4000
REPLICATE_API_KEY=r8_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
REPLICATE_MODEL_TEXT=minimax/video-01
REPLICATE_MODEL_IMG=minimax/video-01
FRONTEND_URL=http://localhost:3000
